[submodule "libquasar"]
	path = libquasar
	url = https://github.com/hi-quasars/libquarsar.git
[submodule "vim/plugins/quasars.vim"]
	path = vim/plugins/quasars.vim
	url = https://github.com/hi-quasars/quasars.vim.git
